USE [master]
GO


CREATE DATABASE [APICrawler_Data]

GO

/* For security reasons the login is with a random password. */
/****** Object:  Login [APICrawler]    Script Date: 26.09.2021 13:04:49 ******/
/*///////////////////////////////////////////////////////////////////////////////// */
/* Please change password here. */

CREATE LOGIN [APICrawler] WITH PASSWORD=N'password1234', DEFAULT_DATABASE=[APICrawler_Data], DEFAULT_LANGUAGE=[Deutsch], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
/* //////////////////////////////////////////////////////////////////////////////// */

/****** Object:  Database [APICrawler_Data]    Script Date: 26.09.2021 13:02:11 ******/



USE [APICrawler_Data]
GO
/****** Object:  User [APICrawler]    Script Date: 26.09.2021 13:02:11 ******/
CREATE USER [APICrawler] FOR LOGIN [APICrawler] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [APICrawler]
GO
/****** Object:  Table [dbo].[API_Calls]    Script Date: 26.09.2021 13:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_Calls](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[Info] [varchar](5000) NOT NULL,
	[TotalDatasets] [int] NULL,
	[Limit] [int] NULL,
	[Returned] [int] NOT NULL,
	[Offset] [int] NULL,
	[Endpoint] [nchar](100) NULL,
	[Method] [nchar](100) NULL,
	[createDate] [datetime] NOT NULL,
 CONSTRAINT [PK_API_Abrufinformation] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[API_Calls] ADD  CONSTRAINT [DF_API_Calls_offset]  DEFAULT ((0)) FOR [Offset]
GO
ALTER TABLE [dbo].[API_Calls] ADD  CONSTRAINT [DF_API_Calls_createDate]  DEFAULT (getdate()) FOR [createDate]
GO
/****** Object:  StoredProcedure [dbo].[sp_Drop_Endpoint_Tables]    Script Date: 26.09.2021 13:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Drop_Endpoint_Tables] 
	 AS
BEGIN
SET NOCOUNT ON;

DECLARE @cmd varchar(4000)
DECLARE cmds CURSOR FOR
SELECT 'drop table [' + Table_Name + ']'
FROM INFORMATION_SCHEMA.TABLES
WHERE Table_Name LIKE 'Endpoint%' 

OPEN cmds
WHILE 1 = 1
BEGIN
    FETCH cmds INTO @cmd
    IF @@fetch_status != 0 BREAK
    EXEC(@cmd)
END
CLOSE cmds;
DEALLOCATE cmds

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Duplicate_Table_With_Structure]    Script Date: 26.09.2021 13:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Kober, Sascha>
-- Create date: <01.06.2021>
-- Description:	<Duplicates a Table from one database to another,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Duplicate_Table_With_Structure]
	@sourceTableSchema Varchar(255), @sourceTableName Varchar(255),@sourceTableCataloge Varchar(255),
	@destinationTableSchema Varchar(255), @destinationTableName Varchar(255),@destinationTableCataloge Varchar(255)
		
AS
BEGIN
DECLARE @cmd varchar(MAX)

--ALTER TABLE Endpoint_ ADD PRIMARY KEY(fk_Id, Id)  WITH (IGNORE_DUP_KEY = ON);


--CREATE TABLE WITHOUT DATA
SET @cmd = 'SELECT * INTO ' +  @destinationTableCataloge + '.' + @destinationTableSchema + '.' + @destinationTableName + ' FROM ' + @sourceTableCataloge + '.' + @sourceTableSchema + '.' + @sourceTableName + ' WHERE 1=2 ';
print @cmd;
EXEC (@cmd);

SELECT @cmd = 'ALTER TABLE '+ @destinationTableCataloge + '.' + @destinationTableSchema + '.' + @destinationTableName + ' ADD [db_update_date] datetime NULL;';
print @cmd
EXEC (@cmd);

--SET DEFAULT VALUES
SELECT @cmd = 'ALTER TABLE '+ @destinationTableCataloge + '.' + @destinationTableSchema + '.' + @destinationTableName + ' ADD CONSTRAINT [DF_' + @destinationTableCataloge + '.' + @destinationTableSchema + '.' + REPLACE(REPLACE(@destinationTableName,'[',''),']','') +'_'+a.name+'] DEFAULT '+b.definition+' FOR ['+a.name+'];' 
FROM sys.columns a join sys.default_constraints b on a.object_id = b.parent_object_id and a.column_id = b.parent_column_id
WHERE a.object_id = object_id(@sourceTableCataloge + '.' + @sourceTableSchema + '.' + @sourceTableName)  

print @cmd
EXEC (@cmd);

--IGNORE_DUP_KEY
--ON: A warning message will occur when duplicate key values are inserted into a unique index. Only the rows violating the uniqueness constraint will fail.
--OFF: An error message will occur when duplicate key values are inserted into a unique index. The entire INSERT operation will be rolled back.

--SET PRIMARY KEY WITH IGNORE_DUP_KEY=ON
SET @cmd =  (select CASE WHEN tc.Constraint_Name IS NULL THEN ''
 ELSE 'ALTER TABLE '
  + @destinationTableCataloge + '.' + @destinationTableSchema + '.' + @destinationTableName + ' ADD CONSTRAINT '
  + tc.Constraint_Name  + ' PRIMARY KEY ' 
  + ' (' + LEFT(j.List, Len(j.List)-1) + ')  WITH (IGNORE_DUP_KEY = ON)'
  END
from    sysobjects so

left join
    information_schema.table_constraints tc
on  tc.Table_name       = so.Name
AND tc.Constraint_Type  = 'PRIMARY KEY'
cross apply
    (select '[' + Column_Name + '], '
     FROM   information_schema.key_column_usage kcu
     WHERE  kcu.Constraint_Name = tc.Constraint_Name
     ORDER BY
        ORDINAL_POSITION
     FOR XML PATH('')) j (list)
where   xtype = 'U'
AND name    NOT IN ('dtproperties')
and tc.TABLE_NAME = REPLACE(REPLACE(@sourceTableName,'[',''),']','') and tc.TABLE_SCHEMA =  REPLACE(REPLACE(@sourceTableSchema,'[',''),']','') and tc.TABLE_CATALOG =  REPLACE(REPLACE(@sourceTableCataloge,'[',''),']',''));


print @cmd;
EXEC (@cmd);


END
GO
/****** Object:  StoredProcedure [dbo].[sp_Transfer_Endpoints_To_DataHub]    Script Date: 26.09.2021 13:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Transfer_Endpoints_To_DataHub]
	-- Add the parameters for the stored procedure here
	@tmpsourceTableNameContain Varchar(255)
	
AS
BEGIN


	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @cmd varchar(4000)
	DECLARE @CursorTable varchar(4000)
	DECLARE @CursorColumn varchar(4000)
	DECLARE @CursorPrimaryKey varchar(255)
	DECLARE @UpdateStatement varchar(MAX)
	DECLARE @UpdateStatementColumns varchar(MAX)
	DECLARE @UpdateStatementColumnsWhere varchar(MAX)
	DECLARE @UpdateStatementPrimayKeys varchar(MAX)
	DECLARE @InsertStatement varchar(MAX)
	DECLARE @InsertStatementColumns varchar(MAX)
	DECLARE @InsertStatementPrimayKeys varchar(MAX)
	DECLARE @sourceTableNamespace Varchar(255)
	--DECLARE @tmpsourceTableNameContain Varchar(255)
	DECLARE @destinationTableNamespace Varchar(255)
	DECLARE @tmpsourceTableCataloge Varchar(255)
	DECLARE @tmpdestinationTableCataloge Varchar(255)
	DECLARE @tmpsourceTableSchema Varchar(255)
	DECLARE @tmpdestinationTableSchema Varchar(255)
	
	---YOU CAN CHANGE THIS--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	--################################################
	SET @tmpsourceTableCataloge='APICrawler_Data';
	SET @tmpsourceTableSchema='dbo';
	
	SET @tmpdestinationTableCataloge='APICrawler_DataHub';
	SET @tmpdestinationTableSchema='dbo';

	--SET @tmpsourceTableNameContain = 'Endpoint';
	--################################################
	---YOU CAN CHANGE UNTIL HERE--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	SET @sourceTableNamespace='['+ @tmpsourceTableCataloge +'].['+ @tmpsourceTableSchema + ']';
	SET @destinationTableNamespace='['+ @tmpdestinationTableCataloge +'].['+ @tmpdestinationTableSchema +']';	
	--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	---LOOP THROUGH ALL TABLES STARTING NAME WITH 'Endpoint'------------------------------------------------------------------------------------------------------------------------
	DECLARE CursorTables CURSOR FOR
	SELECT '[' + Table_Name + ']'
	FROM INFORMATION_SCHEMA.TABLES
	WHERE Table_Name LIKE @tmpsourceTableNameContain + '%'

	OPEN CursorTables
	WHILE 1 = 1
	BEGIN
		FETCH CursorTables INTO @CursorTable
		IF @@fetch_status != 0 BREAK
			
			DECLARE CursorColumns CURSOR FOR
				SELECT 
				c.name AS 'Column Name'
				FROM    
					sys.columns c
				INNER JOIN 
					sys.types t ON c.user_type_id = t.user_type_id
				LEFT OUTER JOIN 
					sys.index_columns ic ON ic.object_id = c.object_id AND ic.column_id = c.column_id
				LEFT OUTER JOIN 
					sys.indexes i ON ic.object_id = i.object_id AND ic.index_id = i.index_id
				WHERE
					c.object_id = OBJECT_ID(@CursorTable) AND c.name<>'db_create_date'

			------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			--SET INSERT STATEMENT------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

			SET	@InsertStatement= 'INSERT INTO ' + @destinationTableNamespace + '.' + @CursorTable ;
			SET @InsertStatementColumns = ','		

			SET	@UpdateStatement= 'UPDATE ' + @destinationTableNamespace + '.' + @CursorTable + ' SET ';
			SET @UpdateStatementColumns = ','		
			SET @UpdateStatementColumnsWhere = ' WHERE '	

			OPEN CursorColumns
			WHILE 1 = 1
			BEGIN
				FETCH CursorColumns INTO @CursorColumn
				IF @@fetch_status != 0 BREAK

				--SET INSERT COLUMNS
				SET @InsertStatementColumns =@InsertStatementColumns + ',[' +@CursorColumn + ']';		
				--SET UPDATE COLUMNS
				SET @UpdateStatementColumns =@UpdateStatementColumns + ',' + @destinationTableNamespace + '.' +@CursorTable +'.[' +@CursorColumn + '] = ' + REPLACE(@CursorTable,']','_Source]') + '.[' +@CursorColumn + ']';	
				SET @UpdateStatementColumnsWhere = @UpdateStatementColumnsWhere + ' OR ((' + @destinationTableNamespace + '.' + @CursorTable +'.[' +@CursorColumn + '] <> ' + REPLACE(@CursorTable,']','_Source]') + '.[' +@CursorColumn + ']) OR ' +  @destinationTableNamespace + '.' + @CursorTable +'.[' +@CursorColumn + '] IS NULL)';	
				
			END
			CLOSE CursorColumns;
			DEALLOCATE CursorColumns


			--SET db_update_date
			SET @UpdateStatementColumns =@UpdateStatementColumns + ',' + @destinationTableNamespace + '.' +@CursorTable +'.[db_update_date] = GETDATE()';	
		
			------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


			------ GET PRIMARY KEY FOR INSERT STATEMENT WITHOUT DUPLICATES- NOT IN USE--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

			DECLARE CursorPrimaryKey CURSOR FOR
			SELECT COLUMN_NAME
			FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE
			WHERE OBJECTPROPERTY(OBJECT_ID(CONSTRAINT_SCHEMA + '.' + QUOTENAME(CONSTRAINT_NAME)), 'IsPrimaryKey') = 1
			AND TABLE_NAME = REPLACE(REPLACE(@CursorTable,'[',''),']','') AND TABLE_SCHEMA = 'dbo'

			---- INSERT INTO .. SELECT .. FROM TABLESOURCE WHERE ID NOT IN (SELECT ID FROM TABLEDESTINATION)

			SET @InsertStatementPrimayKeys= ' WHERE ';
			SET @UpdateStatementPrimayKeys= ' ON ';
			OPEN CursorPrimaryKey
			WHILE 1 = 1
			BEGIN
				FETCH CursorPrimaryKey INTO @CursorPrimaryKey
				IF @@fetch_status != 0 BREAK
				--SELECT INTO WHERE ID NOT IN (SELECT ID FROM LIVE_TABLE)
				SET @InsertStatementPrimayKeys = @InsertStatementPrimayKeys + ' AND ' + @sourceTableNamespace + '.' + @CursorTable + '.[' + @CursorPrimaryKey + '] NOT IN (SELECT [' + @CursorPrimaryKey +'] FROM ' + @destinationTableNamespace + '.' + @CursorTable + ') ';

				SET @UpdateStatementPrimayKeys = @UpdateStatementPrimayKeys + ' AND ' + @destinationTableNamespace + '.' + @CursorTable + '.' + @CursorPrimaryKey + ' = ' +  REPLACE(@CursorTable,']','_Source]') + '.' + @CursorPrimaryKey;

				--REMOVE Primarykeys from UPDATE STATEMENT
				SET @UpdateStatementColumns = REPLACE(@UpdateStatementColumns,',' + @destinationTableNamespace + '.' +@CursorTable +'.[' +@CursorPrimaryKey + '] = ' + REPLACE(@CursorTable,']','_Source]') + '.[' +@CursorPrimaryKey + ']','');	

				--REMOVE Primarykeys from WHERE STATEMENT
				SET @UpdateStatementColumnsWhere = REPLACE(@UpdateStatementColumnsWhere,' OR ' + @destinationTableNamespace + '.' + @CursorTable +'.[' +@CursorPrimaryKey + '] <> ' + REPLACE(@CursorTable,']','_Source]') + '.[' +@CursorPrimaryKey + ']','')


			END
			CLOSE CursorPrimaryKey;
			DEALLOCATE CursorPrimaryKey;
			------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			
			SET @InsertStatementColumns = REPLACE(@InsertStatementColumns,',,','');
			SET @UpdateStatementColumns = REPLACE(@UpdateStatementColumns,',,','');			

			SET @InsertStatement = @InsertStatement +'(' + @InsertStatementColumns + ') SELECT ' + @InsertStatementColumns + '  FROM ' + @sourceTableNamespace + '.' + @CursorTable;
			SET @UpdateStatement = @UpdateStatement + @UpdateStatementColumns + ' FROM ' + @destinationTableNamespace + '.' + @CursorTable +' INNER JOIN ' + @sourceTableNamespace + '.' +@CursorTable + ' AS ' + REPLACE(@CursorTable,']','_Source]');	
						
			SET @InsertStatementPrimayKeys = REPLACE(@InsertStatementPrimayKeys,' WHERE  AND ',' WHERE ');
			SET @UpdateStatementPrimayKeys = REPLACE(@UpdateStatementPrimayKeys,' ON  AND ',' ON ');
			SET @UpdateStatementColumnsWhere = REPLACE(@UpdateStatementColumnsWhere,'WHERE  OR','WHERE');
			----COMBINE INSERT+UPDATE STATEMENT----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						
			SET @UpdateStatement = @UpdateStatement + @UpdateStatementPrimayKeys + @UpdateStatementColumnsWhere + ';';
			print @UpdateStatement;		
			
			--IN USE BUT IT MAY BE TO SLOW (IGNORE_DUPLICATE_KEY IS THE NEW VERSION)						
			--SET @InsertStatement = @InsertStatement + @InsertStatementPrimayKeys + ';';
			
			SET @InsertStatement = @InsertStatement + ';';

			---------------------------------------------------------------------------------------------------------------------------------
	
			print @InsertStatement;
			
			------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
					
			IF OBJECT_ID(@destinationTableNamespace + '.' + @CursorTable) IS NULL
				BEGIN	
			
					EXEC	[dbo].[sp_Duplicate_Table_With_Structure]
								@sourceTableCataloge = @tmpsourceTableCataloge,
								@sourceTableSchema = @tmpsourceTableSchema,
								@sourceTableName = @CursorTable,
								@destinationTableCataloge = @tmpdestinationTableCataloge,
								@destinationTableSchema = @tmpdestinationTableSchema,
								@destinationTableName = @CursorTable	
							
					--INSERT; NO UPDATE FIRST BECAUSE TABLE IS EMPTY AFTER CREATE
					EXEC(@InsertStatement)
				END
			ELSE
				BEGIN
				--FIRST UPDATE THEN INSERT; OTHERWISE INSERTED DATA WILL BE CHECKED UNNESSESARY
					EXEC(@UpdateStatement)
					EXEC(@InsertStatement)
				END;		
			
			--print @InsertStatement		
					   			
	END
	CLOSE CursorTables;
	DEALLOCATE CursorTables


END
GO
USE [master]
GO



/****** Object:  Database [APICrawler_DataHub]    Script Date: 26.09.2021 13:04:00 ******/
CREATE DATABASE [APICrawler_DataHub]
GO

USE [APICrawler_DataHub]
GO
/****** Object:  User [APICrawler]    Script Date: 26.09.2021 13:04:00 ******/
CREATE USER [APICrawler] FOR LOGIN [APICrawler] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [APICrawler]
GO
USE [master]
GO
